body {
    font-family: arial, sans-serif;
}

img {
    height: 90px;
    width: 90px;
    margin: 0px;
    padding: 0px;
}

ul {
    margin: 0;
    padding: 0;

}

li {
    list-style: none;
    color: #ffffff;
    font-size: 15px;
    font-weight: 100;
    line-height: 19px;
    margin: 0;
    padding: 0;
}

.weather-app {
    background: linear-gradient(-225deg, #5D9FFF 0%, #B8DCFF 48%, #6BBBFF 100%);
    max-width: 600px;
    margin: 0px auto;
    margin-top: 60px;
    padding: 20px;
    border: 1px solid #dadde1;
    border-radius: 10px;
}

.h1 {
    color: #ffffff;
    font-size: 32px;
    font-weight: 100;
    line-height: 20px;
    margin-bottom: 0px;
}

.h2 {
    color: #ffffff;
    font-size: 20px;
    font-weight: 100;
    line-height: 39px;

}

.source {
    font-size: 10px;
    max-width: 600px;
    margin: 5px auto;

}

.weather-discription {
    margin-top: 15px;
    padding: 0px;
}

.temperature strong {
    color: #ffffff;
    font-size: 40px;
    line-height: 1;
}

.units {
    color: #ffffff;
    font-size: 14px;
    position: relative;
    top: -15px;
}