body {
    font-family: arial, sans-serif;
}

img {
    height: 90px;
    width: 90px;
    margin: 0px;
    padding: 0px;
}

ul {
    margin: 0;
    padding: 0;

}

li {
    list-style: none;
    color: #ffffff;
    font-size: 15px;
    font-weight: 100;
    line-height: 19px;
    margin: 0;
    padding: 0;
}
li:first-letter{
    text-transform: capitalize;
}

.weather-app {
    background: linear-gradient(-335deg, #5D9FFF 0%, #B8DCFF 48%, #6BBBFF 100%);
    max-width: 600px;
    margin: 0px auto;
    margin-top: 60px;
    padding: 20px;
    border: 1px solid #dadde1;
    border-radius: 10px;
}

.h1 {
    color: #ffffff;
    font-size: 32px;
    font-weight: 100;
    line-height: 20px;
    margin-bottom: 0px;
}

.h2 {
    color: #ffffff;
    font-size: 20px;
    font-weight: 100;
    line-height: 39px;

}

.source {
    font-size: 10px;
    max-width: 600px;
    margin: 5px auto;

}

.weather-discription {
    margin-top: 15px;
    padding: 0px;
}

.temperature strong {
    color: #ffffff;
    font-size: 40px;
    line-height: 1;
}

.units {
    color: #ffffff;
    font-size: 14px;
    position: relative;
    top: -15px;
}
#fahrenheit-link {
    text-decoration: none;
}
#celsius-link {
    text-decoration: none;
}

.active {
    color:#ffffff;
    cursor: default;
    text-decoration: none;
}

.active:hover {
    text-decoration: none;
}

.prediction-title{
    font-size: 15px;
    color: #ffffff;
    font-family:arial,sans-serif; 
    margin: 10px auto;
    font-weight: 100;
    line-height: 19px;
    padding: 0;
}

.card{
    background:linear-gradient(-335deg, #5D9FFF 0%, #B8DCFF 70%, #a5d5ff 100%);
    border:1px solid #a5d5ff;
}

#weather-prediction-day{
    font-size: 16px;
    text-align: center;
    color: #ffffff;
    font-family: arial, sans-serif;
    margin: 10px auto;
    font-weight: 100;
    line-height: 19px;
    padding: 0;

}
.weather-temperature{
    text-align: center;
    color: #ffffff;
    font-family: arial, sans-serif;
    margin: 10px auto;
    font-weight: 100;
    line-height: 19px;
    padding: 0;
    font-size: 13px;

}
.weather-temperature-prediction-min {
    opacity: 0.7;
}